/bin/
*.orig
*.project
*.classpath
*.csv
**/.settings/**
**/test-output/**
**/target/**
/target/
/.idea/
.metadata
*.iml
/main/.idea
*.out
*.class
*.bin

/Examples/02-servlets/build/classes/examples/calculator/CalculatorServlet.class
/Examples/02-servlets/.classpath
